/* NAVEGADOR */
header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegura que siempre esté encima de todo */
  background-color: var(--bg-principal);
  width: 100%;

  /* Añade una pequeña sombra para que se note la separación */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  --icon-menu: url(../img/menu.png);
  --menu-show: translate(-100%);
  max-height: 80px;
}
.nav__logo,
.nav__toggle {
  z-index: 10;
}
.nav__logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.nav__content {
  position: fixed;
  transform: var(--menu-show);
  inset: 0;
  background-color: var(--bg-principal);
  list-style: none;
  padding: 1.5rem 5%;
  display: grid;
  place-content: center;
  gap: 2rem;
  text-align: center;
  transition: 0.5s transform;
}
.nav__link:hover {
  color: var(--color-texto-hover);
}
.nav__link:active {
  color: #ae9209;
}
.nav__container:has(.nav__input:checked) {
  --icon-menu: url(../img/close.png);
  --menu-show: translate(0);
}
.nav__toggle {
  width: 35px;
  height: 40px;
  place-content: center;
  background-color: transparent;
  background-image: var(--icon-menu);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin-right: 1rem;
  border: none;
  display: flex;
  transition: background-image 0.3s;
}
.nav__input {
  display: none;
}
@media (width >768px) {
  .nav__toggle {
    display: none;
  }
  .nav__container {
    /*     position: static; */
    display: flex !important;
    width: 100% !important;
    align-items: center !important;
    padding: 0 20px;
    justify-content: space-between !important;
  }
  .nav__content {
    flex: 1;
    display: flex;
    position: static;
    justify-content: center;
    padding: 0;
    transition: unset;
    transform: none !important;
  }
}
/* FOOTER */
.footer {
  background-color: #0a0a0c; /* Mismo color oscuro del Hero para cerrar el círculo visual */
  padding: 50px 20px 20px;
  border-top: 1px solid #333;
  color: #a0a0a0;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links {
  color: #a0a0a0;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
.social-links {
  display: grid;
}
.footer a:hover {
  color: var(--color-texto-hover); /* Tu color de marca */
}

.footer__bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 0.85rem;
  border-top: 1px solid #222;
  padding-top: 20px;
}
